{% extends 'layout.html'%}
{% block head %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>coded pad</title>
<link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShSns7Aie3TqiJrFEU4RKv48DUFFlumaNB6Q&s" type="image/png">
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='data.css') }}">


{% endblock %}
{% block content %}
<!-- <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShSns7Aie3TqiJrFEU4RKv48DUFFlumaNB6Q&s" type="image/png"> -->


<body>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1921778862002515"
    crossorigin="anonymous"></script>
<!-- codedpad_ads -->
<ins class="adsbygoogle"
    style="display:block"
    data-ad-client="ca-pub-1921778862002515"
    data-ad-slot="4184214321"
    data-ad-format="auto"
    data-full-width-responsive="true"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
    <center>
        <h1>Coded pad</h1>
        <hr>
        <form action="/final" method="POST">

            {% if data=="" %}
            <div class="text">
                <textarea name="data" placeholder="Enter some data " class="data"></textarea>

            </div>
            {% else %}

            <div class="text">
                <textarea name="data" placeholder="Enter some data " class="data">{{ data }}</textarea>

            </div>
            {% endif %}
            <div class="btns">
                <a href="/" >Back </a>
                <button type="submit">Save</button>
            </div>


        </form>

    </center>

    {% endblock %}