{% extends 'layout.html'%}
{% block head %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>coded pad</title>

<link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShSns7Aie3TqiJrFEU4RKv48DUFFlumaNB6Q&s" type="image/png">
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='final.css') }}">
<!-- <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQXyiaxuD13Sg6zKL1IfLmQmCp3qQp1caq4w&s" type="image/png"> -->

{% endblock %}
{% block content %}
{% if change %}
<center>
    <div class="card">
        <br><br> 
        <h1> Feedback Saved</h1> 
        <b>{{change }} </b>
    </div>
    <br><br><br>
    <a href='/'><button>Back</button></a>
 </center>
    
        {% else %}
        <div class="card">
        <center><h1> Feedback not Saved</h1> <br> 
            <h4> Try again </h4> 
            <br>
        </div>
            <br><br><br>
        
        <a href='/'><button>Back</button></a>
    </center>
     {% endif %}
     <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1921778862002515"
     crossorigin="anonymous"></script>
<!-- codedpad_ads -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1921778862002515"
     data-ad-slot="4184214321"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
{% endblock%}